.profile__button-edit {
  background-image: url(../../../images/Vector2.png);
  min-width: 24px;
  min-height: 24px;
  border: 1px solid #fff;
  align-self: center;
}
@media screen and (max-width: 910px) {
  .profile__button-edit {
    max-width: 18px;
    max-height: 18px;
  }
}
