.header {
  max-width: 882px;
  margin: 0px auto 0px;
  padding-top: 45px;
  border-bottom: 1px solid #545454; /*в макете цвет указан именно так, я проверил https://b.radikal.ru/b27/2104/38/a239e201f175.jpg*/
  opacity: .7;
}

@media screen and (max-width: 910px) {
  .header {
    max-width: 320px;
    width: 100%;
    padding-top: 28px;
    margin: 0px auto 0px;
  }
}
