.elements{
  position: relative;
  max-width: 882px;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  row-gap: 20px;
  column-gap: 17px;
  margin: 51px auto 66px;
}

@media screen  and (max-width: 910px){
  .elements{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 36px auto 48px;
  row-gap: 20px;
  }
}
