.card__like-image {
}

.card__like-image:active {
  background-image: url(../../../images/Vector-like-black.png);
}
.card__like-image:hover {
  cursor: pointer;
  transition: opacity 0.7s ease-in-out;
  opacity: 0.5; /*я так и не смог разобраться как отменить прозрачность в активном режиме, поэтому мой сердечко остаётся серым,а не чёрным*/
}
