.profile__button-add {
  background-image: url(../../../images/Vector3.png);
  margin-left: auto;
  min-width: 150px;
  min-height: 50px;
  align-self: center;
  border: 1px solid #fff;
  position: absolute;
  right: 0;
}
@media screen and (max-width: 910px) {
  .profile__button-add {
    position: static;
    margin-top: 36px;
  }
}